<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout_admin}">
<head>
<title>Blank Page</title>
</head>
<body>

	<!-- Start content -->
           <div layout:fragment="content">
           <div class="content">
           <div class="container-fluid">

                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                     <div class="col-md-12">
                        <div class="page-title-box">
                           <h4 class="page-title pull-left">Alerts &amp; Notes</h4>
                          
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
                    
                <div class="panel panel-body">
                                          
                 <div class="portlet-body">
                                    <h4 class="block">Default Alerts</h4>
                                    <div class="alert alert-success">
                                        <strong>Success!</strong> The page has been added. </div>
                                    <div class="alert alert-info">
                                        <strong>Info!</strong> You have 198 unread messages. </div>
                                    <div class="alert alert-warning">
                                        <strong>Warning!</strong> Your monthly traffic is reaching limit. </div>
                                    <div class="alert alert-danger">
                                        <strong>Error!</strong> The daily cronjob has failed. </div>
                                    <h4 class="block">Dismissable Alerts</h4>
                                    <div class="alert alert-warning alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                        <strong>Warning!</strong> Something went wrong. Please check. </div>
                                    <h4 class="block">Links in alerts</h4>
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                        <strong>WOW!</strong> Well done and everything looks OK.
                                        <a href="" class="alert-link"> Please check this one as well </a>
                                    </div>
                                </div>    
                                <div class="portlet-body">
                                    <div class="note note-success">
                                        <h4 class="block">Success! Some Header Goes Here</h4>
                                        <p> Duis mollis, est non commodo luctus, nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
                                    </div>
                                    <div class="note note-info">
                                        <h4 class="block">Info! Some Header Goes Here</h4>
                                        <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
                                    </div>
                                    <div class="note note-danger">
                                        <h4 class="block">Danger! Some Header Goes Here</h4>
                                        <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet.\ Cras mattis consectetur purus sit amet fermentum. </p>
                                    </div>
                                    <div class="note note-warning">
                                        <h4 class="block">Warning! Some Header Goes Here</h4>
                                        <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet. Cras mattis consectetur purus sit amet fermentum. </p>
                                    </div>
                                </div>
                                    </div>
                                   
                    
                             <div class="clearfix"></div>
                    <!-- END DASHBOARD STATS 1-->
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                </div>
                </div>
               
           
	
	
</body>
</html>