<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout_admin}">
<head>
<title>Appointments</title>
</head>
<body>

	<!-- Start content -->
	<div layout:fragment="content">
		<div class="content">

			<div class="container-fluid">

				<!-- BEGIN PAGE BASE CONTENT -->
				<div class="row">
					<div class="col-md-12">
						<div class="page-title-box">
							<h4 class="page-title pull-left">Upcoming Appointments</h4>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-12">
						<!-- BEGIN PORTLET -->
						<div class="panel-body panel">


							<div class="portlet-body clearfix">
								<!--BEGIN TABS-->
								<form action="/appointment/upcoming" class="form-inline" method="GET">
									<div class="form-group mb-2">
										<input type="text" class="form-control" name="name"
											placeholder="Search User" /> <input type="submit"
											class="btn btn-primary" />

									</div>
								</form>




								<div class="table-scrollable table-responsive patient-table">
									<table class="table">
										<thead>
											<tr>

												<th>Patient Name</th>
												<th>Date</th>
												<th>Slot</th>
												<th>Create Date</th>
												<th>Actions</th>

											</tr>
										</thead>

										<tbody>
											<tr th:each="appointment:${appointments}">
												<td th:text="${appointment.patient.name}"></td>
												<td
													th:text="${#dates.format(appointment.date, 'dd-MM-yyyy')}"></td>
												<td th:text="${#dates.format(appointment.date, 'HH:00')}"></td>
												<td th:text="${appointment.createdOn}"></td>
												<td><a href="/doctor/reshedule" class="btn btn-primary"><span
														class="fa fa-edit"></span></a></td>
											</tr>


										</tbody>

									</table>
								</div>
								<div class="row">
									<div class="col-md-12 text-right">
										<ul class="pagination">
											<li
												th:each="i:${#numbers.sequence(0,appointments.totalPages-1)}">
												<a th:href="@{/appointment/upcoming(page=${i})}"
												th:text="${i}">1</a>
											</li>
										</ul>
									</div>
								</div>

								<!--END TABS-->
							</div>

						</div>
					</div>
				</div>






				<div class="clearfix"></div>
				<!-- END DASHBOARD STATS 1-->









				<!-- END PAGE BASE CONTENT -->
			</div>
		</div>
	</div>

	<!-- BEGIN FOOTER -->



</body>
</html>