

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout_admin}">
<head>
<title>Blank </title>
</head>
<body>

	
           
	      <!-- Start content -->
           <div layout:fragment="content">
           <div class="content">
           <div class="container-fluid">

                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                     <div class="col-md-12">
                        <div class="page-title-box">
                           <h4 class="page-title pull-left">Manage Activities</h4>
                            <a href="/admin/addactivity"> <span title="Add Activity" class=" font-blue-madison bold uppercase pull-right add-icon"><i class="icon-plus " ></i></span></a>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
                    
                 <div class="row">

                     <div class="col-md-12">
                                        <!-- BEGIN PORTLET -->
                                        <div class="panel-body panel">
                                       
                                           
                                            <div class="portlet-body clearfix">
                                                <!--BEGIN TABS-->
                                         
                                
                                    <div class="table-scrollable table-responsive patient-table">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                   
                                                    <th> Activities List  </th>
                                                     <th> Category </th>
                                                       <th> Sub Category </th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    
                                                    <td> Activities </td>
                                                    <td>
                                                      Category
                                                    </td>
                                                    
                                                    <td>
                                                        Sub Category
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    
                                                    <td> Activities </td>
                                                    <td>
                                                      Category
                                                    </td>
                                                    
                                                    <td>
                                                        Sub Category
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    
                                                    <td> Activities </td>
                                                    <td>
                                                      Category
                                                    </td>
                                                    
                                                    <td>
                                                        Sub Category
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    
                                                    <td> Activities </td>
                                                    <td>
                                                      Category
                                                    </td>
                                                    
                                                    <td>
                                                        Sub Category
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    
                                                    <td> Activities </td>
                                                    <td>
                                                      Category
                                                    </td>
                                                    
                                                    <td>
                                                        Sub Category
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    
                                                    <td> Activities </td>
                                                    <td>
                                                      Category
                                                    </td>
                                                    
                                                    <td>
                                                        Sub Category
                                                    </td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td> Activities </td>
                                                    <td>
                                                      Category
                                                    </td>
                                                    
                                                    <td>
                                                        Sub Category
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    
                                                    <td> Activities </td>
                                                    <td>
                                                      Category
                                                    </td>
                                                    
                                                    <td>
                                                        Sub Category
                                                    </td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td> Activities </td>
                                                    <td>
                                                      Category
                                                    </td>
                                                    
                                                    <td>
                                                        Sub Category
                                                    </td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td> Activities </td>
                                                    <td>
                                                      Category
                                                    </td>
                                                    
                                                    <td>
                                                        Sub Category
                                                    </td>
                                                </tr>

                                               

                                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-12 text-right">
                                 <ul class="pagination">
                                      <li><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                    </ul> 
                          </div>
                          </div>
                   
                                                <!--END TABS-->
                                            </div>
                                      
                                    </div>
                          </div>
                          </div>
                                          
                       
                                           
                                    
                                   
                    
                             <div class="clearfix"></div>
                    <!-- END DASHBOARD STATS 1-->
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                </div>
                </div>
               
                <!-- BEGIN FOOTER -->
	
</body>
</html>