<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout_admin}">
<head>
<title>Blank Page</title>
</head>
<body>

	<!-- Start content -->
            <!-- Start content -->
           <div layout:fragment="content">
           <div class="content">
           <div class="container-fluid">

                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                     <div class="col-md-12">
                        <div class="page-title-box">
                           <h4 class="page-title pull-left">Patient Updation List</h4>
                     
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
                    
                 <div class="row">

                     <div class="col-md-12">
                                        <!-- BEGIN PORTLET -->
                                        <div class="panel-body panel">
                                   
                                           
                                            <div class="portlet-body clearfix">
                                                <!--BEGIN TABS-->
                                        
                                    <div class="table-scrollable table-responsive patient-table">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                   
                                                    <th> Patient Name </th>
                                                    <th> Status </th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="user:${patients}">
												<td th:text="${user.name}"></td>
												<td th:utext="${user.stateBedge}"></td>
												
												
											</tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-12 text-right">
                                 <ul class="pagination">
                                      <li><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                    </ul> 
                          </div>
                          </div>
                       
                                                <!--END TABS-->
                                            </div>
                                        </div>
                                        <!-- END PORTLET -->
                                    
                          </div>
                          </div>
                                          
                       
                                           
                                    
                                   
                    
                             <div class="clearfix"></div>
                    <!-- END DASHBOARD STATS 1-->
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                </div>
                </div>
               
                <!-- BEGIN FOOTER -->
               
               
</body>
</html>