<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout_admin}">
<head>
<title>Blank</title>
</head>
<body>

	<!-- Start content -->
	<div layout:fragment="content">
		<div class="content">
			<div class="container-fluid">

				<!-- BEGIN PAGE BASE CONTENT -->
				<div class="row">
					<div class="col-md-12">
						<div class="page-title-box">
							<h4 class="page-title pull-left">Edit Profile</h4>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="row">


					<div class="col-md-3">
						<!-- BEGIN PROFILE SIDEBAR -->
						<div class="portlet light profile-sidebar-portlet bordered">
							<!-- SIDEBAR USERPIC -->
							<div class="profile-userpic">
								<img src="/img/profile_user.jpg" class="img-responsive" alt="">
							</div>
							<!-- END SIDEBAR USERPIC -->
							<!-- SIDEBAR USER TITLE -->
							<div class="profile-usertitle">
								<div class="profile-usertitle-name">Marcus Doe</div>
							</div>
							<!-- END SIDEBAR USER TITLE -->
							<!-- SIDEBAR BUTTONS -->

							<!-- END SIDEBAR BUTTONS -->
							<!-- SIDEBAR MENU -->
							<div class="profile-usermenu">
								<ul class="nav">
									<li class="active"><a href="/user/profile"> <i
											class="icon-home"></i> Overview
									</a></li>
									<li>
									<li><a href="/user/edit-profile"> <i class="icon-info"></i>
											Edit Profile
									</a></li>
								</ul>
							</div>
							<!-- END MENU -->
						</div>
					</div>
					<!-- END BEGIN PROFILE SIDEBAR -->
					<!-- BEGIN PROFILE CONTENT -->
					<div class="col-md-9">
						<div class="profile-content">
							<div class="row">
								<div class="col-md-12">
									<div class="portlet light bordered">
										<div class="portlet-title tabbable-line">
											<div class="caption caption-md">
												<i class="icon-globe theme-font hide"></i> <span
													class="caption-subject font-blue-madison bold uppercase">Profile
													Account</span>
											</div>
											<ul class="nav nav-tabs">
												<li class="active"><a href="#tab_1_1" data-toggle="tab"
													aria-expanded="true">Personal Info</a></li>

												<li class=""><a href="#tab_1_3" data-toggle="tab"
													aria-expanded="false">Change Password</a></li>

											</ul>
										</div>
										<div class="portlet-body">
											<div class="tab-content">
												<!-- PERSONAL INFO TAB -->
												<div class="tab-pane active" id="tab_1_1">
													<form role="form" action="/moderator/edit-profile"
														th:object="${user}" method="post">
														
														<div class="form-group">
															<label for="name" class="control-label">First
																Name</label> <input class="form-control" type="text"
																th:field="*{name}" id="name">
														</div>
														<div class="text text-danger"
															th:if="${#fields.hasErrors('name')}" th:errors="name"></div>

														<div class="form-group">
															<label for="email" class="control-label">Last
																Name</label> <input class="form-control" type="text"
																th:field="*{email}" id="email">
														</div>
														<div class="text text-danger"
															th:if="${#fields.hasErrors('email')}" th:errors="email"></div>
														<div class="form-group">
															<label for="contactNumber" class="control-label">Mobile
																Number</label> <input class="form-control" type="text"
																th:field="*{contactNumber}" id="contactNumber">
														</div>
														<div class="text text-danger"
															th:if="${#fields.hasErrors('contactNumber')}"
															th:errors="contactNumber"></div>



														<div class="margiv-top-10">
															<input type="submit" value="Save Changes"
																class="btn green" />

															<button class="btn default">Cancel</button>
														</div>
													</form>
												</div>
												<!-- END PERSONAL INFO TAB -->

												<!-- END CHANGE AVATAR TAB -->
												<!-- CHANGE PASSWORD TAB -->
												<div class="tab-pane" id="tab_1_3">
													<form action="#">
														<div class="form-group">
															<label class="control-label">Current Password</label> <input
																class="form-control" type="password">
														</div>
														<div class="form-group">
															<label class="control-label">New Password</label> <input
																class="form-control" type="password">
														</div>
														<div class="form-group">
															<label class="control-label">Re-type New Password</label>
															<input class="form-control" type="password">
														</div>
														<div class="margin-top-10">
															<a href="/user/profile" class="btn green"> Change
																Password </a> <a href="/user/profile" class="btn default">
																Cancel </a>
														</div>
													</form>
												</div>
												<!-- END CHANGE PASSWORD TAB -->

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END PROFILE CONTENT -->

				</div>






				<div class="clearfix"></div>
				<!-- END DASHBOARD STATS 1-->









				<!-- END PAGE BASE CONTENT -->
			</div>
		</div>
	</div>

	<!-- BEGIN FOOTER -->



</body>
</html>