<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout_admin}">
<head>
<title>Next Appointment</title>
</head>
<body>

	
 <!-- Start content -->
           <div layout:fragment="content">
           <div class="content">
           <div class="container-fluid">

                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                     <div class="col-md-12">
                        <div class="page-title-box">
                           <h4 class="page-title pull-left">Dashboard</h4>
                           <ol class="breadcrumb pull-right">
                              <li class="breadcrumb-item"><a href="#">Dr. Speak Well </a></li>
                              <li class="breadcrumb-item active">Dashboard</li>
                           </ol>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
                    
                 <div class="row">

                     <div class="col-md-12">
                                        <!-- BEGIN PORTLET -->
                                        <div class="panel-body panel">
                                        <div class="col-md-12 ">
                                        <div class="portlet light bordered ">
                                            <div class="portlet-title tabbable-line clearfix">
                                                <div class="caption caption-md">
                                                    <span class="caption-subject font-blue-madison bold uppercase">Upcoming Appointments</span>

                                                </div>
                                            
                                            </div>
                                            <div class="portlet-body clearfix">
                                                <!--BEGIN TABS-->
                                                 <div class="col-md-12 ">
                                
                                    <div class="table-scrollable table-responsive patient-table">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                   
                                                    <th> Patient Name  </th>
                                                     <th>  Date </th>
                                                     <th>  Slot </th>
                                                       <th> Actions </th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    
                                                    <td> Jack </td>
                                                    <td>
                                                      21-02-2018
                                                    </td>
                                                    <td>
                                                      <button type="button" class="btn red btn-outline">2pm-3pm</button>
                                                    </td>
                                                     <td>
                                                        <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-user"></i> Patient Profile </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-file-o"></i> Patient Record </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-phone"></i> Call Now </a>
                                                    </td>
                                                </tr>
                                                   <tr>
                                                    
                                                    <td> Jack </td>
                                                    <td>
                                                      21-02-2018
                                                    </td>
                                                    <td>
                                                      <button type="button" class="btn red btn-outline">2pm-3pm</button>
                                                    </td>
                                                      <td>
                                                        <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-user"></i> Patient Profile </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-file-o"></i> Patient Record </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-phone"></i> Call Now </a>
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    
                                                    <td> Jack </td>
                                                    <td>
                                                      21-02-2018
                                                    </td>
                                                    <td>
                                                      <button type="button" class="btn red btn-outline">2pm-3pm</button>
                                                    </td>
                                                   <td>
                                                        <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-user"></i> Patient Profile </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-file-o"></i> Patient Record </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-phone"></i> Call Now </a>
                                                    </td>
                                                </tr>
                                                    <tr>
                                                    
                                                    <td> Jack </td>
                                                    <td>
                                                      21-02-2018
                                                    </td>
                                                    <td>
                                                      <button type="button" class="btn red btn-outline">2pm-3pm</button>
                                                    </td>
                                                     <td>
                                                        <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-user"></i> Patient Profile </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-file-o"></i> Patient Record </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-phone"></i> Call Now </a>
                                                    </td>
                                                </tr>
                                                    <tr>
                                                    
                                                    <td> Jack </td>
                                                    <td>
                                                      21-02-2018
                                                    </td>
                                                    <td>
                                                      <button type="button" class="btn red btn-outline">2pm-3pm</button>
                                                    </td>
                                                     <td>
                                                        <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-user"></i> Patient Profile </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-file-o"></i> Patient Record </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-phone"></i> Call Now </a>
                                                    </td>
                                                </tr>
                                                   <tr>
                                                    
                                                    <td> Jack </td>
                                                    <td>
                                                      21-02-2018
                                                    </td>
                                                    <td>
                                                      <button type="button" class="btn red btn-outline">2pm-3pm</button>
                                                    </td>
                                                      <td>
                                                        <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-user"></i> Patient Profile </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-file-o"></i> Patient Record </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-phone"></i> Call Now </a>
                                                    </td>
                                                </tr>
                                                    <tr>
                                                    
                                                    <td> Jack </td>
                                                    <td>
                                                      21-02-2018
                                                    </td>
                                                    <td>
                                                      <button type="button" class="btn red btn-outline">2pm-3pm</button>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-user"></i> Patient Profile </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-file-o"></i> Patient Record </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-phone"></i> Call Now </a>
                                                    </td>
                                                </tr>
                                                   <tr>
                                                    
                                                    <td> Jack </td>
                                                    <td>
                                                      21-02-2018
                                                    </td>
                                                    <td>
                                                      <button type="button" class="btn red btn-outline">2pm-3pm</button>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-user"></i> Patient Profile </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-file-o"></i> Patient Record </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-phone"></i> Call Now </a>
                                                    </td>
                                                </tr>
                                                   <tr>
                                                    
                                                    <td> Jack </td>
                                                    <td>
                                                      21-02-2018
                                                    </td>
                                                    <td>
                                                      <button type="button" class="btn red btn-outline">2pm-3pm</button>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-user"></i> Patient Profile </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-file-o"></i> Patient Record </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-phone"></i> Call Now </a>
                                                    </td>
                                                </tr>
                                                   <tr>
                                                    
                                                    <td> Jack </td>
                                                    <td>
                                                      21-02-2018
                                                    </td>
                                                    <td>
                                                      <button type="button" class="btn red btn-outline">2pm-3pm</button>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-user"></i> Patient Profile </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-file-o"></i> Patient Record </a>
                                                             <a href="#" class="btn btn-outline btn-circle red btn-sm ">
                                                           <i class="fa fa-phone"></i>  Call Now </a>
                                                    </td>
                                                </tr>

                                               

                                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-12 text-right">
                                 <ul class="pagination">
                                      <li><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                    </ul> 
                          </div>
                          </div>
                          </div>
                                                <!--END TABS-->
                                            </div>
                                        </div>
                                        <!-- END PORTLET -->
                                    </div>
                                    </div>
                          </div>
                          </div>
                                          
                       
                                           
                                    
                                   
                    
                             <div class="clearfix"></div>
                    <!-- END DASHBOARD STATS 1-->
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                </div>
                </div>
               
                <!-- BEGIN FOOTER -->          
	
	
</body>
</html>