<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout_admin}">
<head>
<title>Revenue </title>
</head>
<body>

 <!-- Start content -->
           <div layout:fragment="content">
           <div class="content">
           <div class="container-fluid">

                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                     <div class="col-md-12">
                        <div class="page-title-box">
                           <h4 class="page-title pull-left">Dashboard</h4>
                           <ol class="breadcrumb pull-right">
                              <li class="breadcrumb-item"><a href="#">Dr. Speak Well </a></li>
                              <li class="breadcrumb-item active">Dashboard</li>
                           </ol>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
                    
                 <div class="row">

                     <div class="col-md-12">
                                        <!-- BEGIN PORTLET -->
                                        <div class="panel-body panel">
                                        <div class="col-md-12 ">
                                        <div class="portlet light bordered ">
                                            <div class="portlet-title tabbable-line clearfix">
                                                <div class="caption caption-md">
                                                    <span class="caption-subject font-blue-madison bold uppercase">Revenue </span>

                                                </div>
                                            
                                            </div>
                                            <div class="portlet-body clearfix">
                                                <!--BEGIN TABS-->
                                                <div class="col-md-12 ">
                                <div class="search-page search-content-2">
                       
                   
                                <div class="search-container bordered">
                                  
                                       
                                        <div class="search-item clearfix">
                                            <div class="search-content">
                                                <div class="row">
                                                    <div class="col-sm-3 col-xs-12">
                                                        <h2 class="search-title">
                                                            <a href="javascript:;">Revenue Details</a>
                                                        </h2>
                                                      
                                                    </div>
                                                    <div class="col-sm-3 col-xs-4">
                                                        <p class="search-counter-number"><b>362</b></p>
                                                        <p class="search-counter-label uppercase">Total Number Of Appointments</p>
                                                    </div>
                                                    <div class="col-sm-3 col-xs-4">
                                                        <p class="search-counter-number"><b>79</b></p>
                                                        <p class="search-counter-label uppercase">Call Completed </p>
                                                    </div>
                                                    <div class="col-sm-3 col-xs-4">
                                                        <p class="search-counter-number"><b>8</b></p>
                                                        <p class="search-counter-label uppercase">Total Revenue Amount</p>
                                                    </div>
                                                </div>
                                        </div></div>
                                      
                                      
                              
                                    </div>
                                    
                                    </div>
                                 
                               
                          </div>
                                                <!--END TABS-->
                                            </div>
                                        </div>
                                        <!-- END PORTLET -->
                                    </div>
                                    </div>
                          </div>
                          </div>
                                          
                       
                                           
                                    
                                   
                    
                             <div class="clearfix"></div>
                    <!-- END DASHBOARD STATS 1-->
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                </div>
                </div>
               
                <!-- BEGIN FOOTER -->	
           
	
	
</body>
</html>