<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout_admin}">
<head>
<title>List</title>
</head>
<body>

	<!-- Start content -->
	<div layout:fragment="content">
		<div class="content">
			<div class="container-fluid">

				<!-- BEGIN PAGE BASE CONTENT -->
				<div class="row">
					<div class="col-md-12">
						<div class="page-title-box">
							<h4 class="page-title pull-left">Ticket</h4>
							<a href="/ticket/add"> <span title="Add Ticket"
								class=" font-blue-madison bold uppercase pull-right add-icon"><i
									class="icon-plus "></i></span></a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-12">
						<!-- BEGIN PORTLET -->
						<div class="panel-body panel">

							<div class="portlet-body clearfix">
								<!--BEGIN TABS-->

								<form action="/ticket/list" class="form-inline"  method="GET">
									<div class="form-group mb-2">
										<input type="text" class="form-control" name="name"
											placeholder="Search User" /> 
											<input type="submit"  class="btn btn-primary" />
											
									</div>
								</form>

								
								
								<div class="table-scrollable patient-table">
									<table class="table">
										<thead>
											<tr>
												<th>Id</th>
												<th>Title</th>
												<th>User Name</th>
												<th>Status</th>
												<th>Created On</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="ticket:${tickets}">
												<td th:text="${ticket.id}"></td>
												<td th:text="${ticket.title}"></td>
												<td th:text="${ticket.user.name}"></td>
												<td th:utext="${ticket.stateBedge}"></td>

												<td th:text="${ticket.createdOn}"></td>
												<td><a th:href="@{/ticket/view(id=${ticket.id})}"
													class="btn btn-success"><span class="fa fa-eye"></span></a>
													<a th:href="@{/ticket/update(id=${ticket.id})}"
													class="btn btn-primary"><span class="fa fa-edit"></span></a>
													<a th:href="@{'/ticket/{id}/delete'(id=${ticket.id})}"
													class="btn btn-danger"><span class="fa fa-remove"></span></a></td>
													
											</tr>
										</tbody>
									</table>
								</div>
								<div class="row">
									<div class="col-md-12 text-right">
										<ul class="pagination">
											<li th:each="i:${#numbers.sequence(0,tickets.totalPages-1)}">
												<a th:href="@{/ticket/list(page=${i})}" th:text="${i}">1</a>
											</li>
											
										</ul>
									</div>
								</div>

								<!--END TABS-->
							</div>

						</div>
					</div>
				</div>






				<div class="clearfix"></div>
				<!-- END DASHBOARD STATS 1-->









				<!-- END PAGE BASE CONTENT -->
			</div>
		</div>
	</div>

	<!-- BEGIN FOOTER -->
</body>
</html>

