<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout_admin}">
<head>
<title>Blank</title>
</head>
<body>

	<!-- Start content -->
	<div layout:fragment="content">
		<div class="content">
			<div class="container-fluid">

				<!-- BEGIN PAGE BASE CONTENT -->
				<div class="row">
					<div class="col-md-12">
						<div class="page-title-box">
							<h4 class="page-title pull-left">Reshedule Form</h4>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-12">
						<!-- BEGIN PORTLET -->
						<div class="panel-body panel">
		
								<div class="portlet-body clearfix">
									<!--BEGIN TABS-->


									<div class="row">
										<!-- PORTLET MAIN -->
									
										<div class="col-md-12">
											<div class="profile-content">
												
														
											<div class="portlet-body">
										    <div class="col-md-7 col-md-offset-2">
										
											<!-- PERSONAL INFO TAB -->
																	
										   <form class="form-horizontal" role="form" action="#">
										   <div class="form-group">
										   <label class="control-label col-md-3"> Name</label> 
										   <div class="col-md-9">
										   <input class="form-control" type="text">
																			</div>
																			</div>
																			 <div class="form-group">
                                                <label class="control-label col-md-3"> Date</label>
                                               <div class="col-md-9">
                                                    <div class="input-group date form_datetime form_datetime bs-datetime">
                                                        <input type="text" size="16" class="form-control">
                                                        <span class="input-group-addon">
                                                            <button class="btn default date-set" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    </div>
                                             
                                            </div>
																			<div class="form-group">
																				<label class="control-label col-md-3">Slot</label> 
																				 <div class="col-md-9">
																				<input
																					placeholder="Enter Your Available Slot"
																					class="form-control" type="text">
																			</div>
																			</div>
																			

																			<div class="text-right margin-top-10">
																				<button class="btn green"> Save
																					Changes </button>
																					 <button class="btn default">
																					Cancel </button>
																			</div>
																		</form>
																
																
																	<!-- END CHANGE PASSWORD TAB -->

															</div>
															
											</div>
										</div>
										</div>
										<!-- END PORTLET MAIN -->

									

								</div>



								<!-- END PORTLET -->
							
						</div>
					</div>
				</div>






				<div class="clearfix"></div>
				<!-- END DASHBOARD STATS 1-->









				<!-- END PAGE BASE CONTENT -->
			</div>
		</div>
	</div>

	<!-- BEGIN FOOTER -->



</body>
</html>