<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout_admin}">
<head>
<title>Blank</title>
</head>
<body>

	<!-- Start content -->
	<div layout:fragment="content">
		<div class="content">
			<div class="container-fluid">

				<!-- BEGIN PAGE BASE CONTENT -->
				<div class="row">
					<div class="col-md-12">
						<div class="page-title-box">
							<h4 class="page-title pull-left">View Profile</h4>
      <a href="#"> <span title="Edit profile" class=" font-blue-madison bold uppercase pull-right add-icon"><i class="icon-plus " ></i></span></a>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-12">
						<!-- BEGIN PORTLET -->
						<div class="panel-body panel">
				
								<div class="portlet-body clearfix">
									<!--BEGIN TABS-->


									<div class="profile-sidebar">
									<div class="row">
										<!-- PORTLET MAIN -->
										
										<div class="col-md-3">
											<div class=" profile-sidebar-portlet ">
												<!-- SIDEBAR USERPIC -->
												<div class="profile-userpic">
													<img src="/img/image2.jpg" class="img-responsive" alt="">
												</div>
												<!-- END SIDEBAR USERPIC -->
												<!-- SIDEBAR USER TITLE -->
												<div class="profile-usertitle">
													<div class="profile-usertitle-name text-center"><b>Marcus Doe</b></div>

												</div>
												<!-- END SIDEBAR USER TITLE -->

												<!-- SIDEBAR MENU -->
												
												<!-- END MENU -->
											</div>
										</div>
										<div class="col-md-9">
									
                                            <div class="row">
                                                <div class=" profile-info">
                                                    <h1 class="font-green sbold uppercase">More Information 
                                                    
                                                    </h1>
                                                 
                                              
                                                <!--end col-md-8-->
                                
                                                    <div class="portlet sale-summary">
                                                       
                                                        <div class="portlet-body">
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    <span class="sale-info"> Mobile Number:
                                                                    </span>
                                                                    <span class="sale-num"> 23436344534 </span>
                                                                </li>
                                                                <li>
                                                                    <span class="sale-info"> Last Session Attended:
                                                                    </span>
                                                                    <span class="sale-num"> 87 </span>
                                                                </li>
                                                                <li>
                                                                    <span class="sale-info">Disease: </span>
                                                                    <span class="sale-num"> Migrane </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                         </div>
                                                <!--end col-md-4-->
                                            </div>
                                            <!--end row-->
                                  
										</div>
										<!-- END PORTLET MAIN -->

									</div>
</div>
								</div>



								<!-- END PORTLET -->
							
						</div>
					</div>
				</div>






				<div class="clearfix"></div>
				<!-- END DASHBOARD STATS 1-->









				<!-- END PAGE BASE CONTENT -->
			</div>
		</div>
	</div>

	<!-- BEGIN FOOTER -->



</body>
</html>